@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background-color: #2B2A2A;
    font-family: 'Poppins', sans serif; 
  }

  /*styling for the home section page */
  #homeSection {
    background-image: url(./images/homeSectioncrop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-size: 40;
    text-align: center;
    padding: auto;
  }

  /*colour for all the subheadings of the different web app sections*/
  h1 {
    color: white;
  }

  /* Black text outline for the welcome message. Makes it easier to read when placed on top of image */
  h2 {
    -webkit-text-stroke: 1px black;
  }

  /*styling for the home nav. See through nav bar*/
  #homenav {
    padding: 15px;
    background-color: #2B2A2A;
    opacity: 0.7;
  }

  /* positioning and styling for logo */
figure > img{
    display: block;
    float: left;
    width: 200;
    height: auto;
    margin: auto;
    padding: 10px;
  }

 /* Navigation bar CSS */
/* Inspired from DECO1016 CSS Navigation Replit in where coding has been modified to Moviary's design needs */

#navbar {
  position: absolute;
  left: 0;
  right: 0;
  height: 70px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-item {
  margin: 0.5rem;
  width: 100%;
}

.home-link,
.navbar-link {
  color: white;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:hover {
  color: #a300b6;
}

.navbar-link {
  justify-content: center;
  font-size: 24;
  width: 100%;
  padding: 0.4em 0.8em;
  transition: all 0.3s ease;
}
.navbar-link:hover {
  color: white;
  background-color: #a300b6;
  border-radius: 24px;
}

#navbar-menu {
  position: fixed;
  width: 100%;
  top: 70px; /* Same as the height of the header */
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

#navbar-toggle.active + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color:#262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/* NAVBAR TOGGLE BUTTON */
/* Styles for the 'hamburger style menu button */

/* Inspired from DECO1016 CSS Navigation Replit in where coding has been modified to Moviary's design needs */

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Reusable style for each menu bar */
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: #262626;
}
/* colour of the menu bars when hovered */
#navbar-toggle:hover .icon-bar {
  background-color: #a300b6;
}
/* Set the icon bars for when the menu is active
    i.e. when the cross to close is showing */
#navbar-toggle.active .icon-bar:first-child,
#navbar-toggle.active .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}
/* Rotate the top menu bar */
#navbar-toggle.active .icon-bar:first-child {
  transform: rotate(45deg);
}
/* Hide the middle menu bar */
#navbar-toggle.active .icon-bar:nth-child(2) {
  opacity: 0;
}
/* Rotate the bottom menu bar */
#navbar-toggle.active .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  width: 100%;
  top: 70px; /* Same as the height of the header */
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#navbar-toggle.active + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color:2B2A2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform-origin: top;
  transform: scaleY(0%);
  transition: all 0.3s ease-in-out;
}

#navbar-toggle.active + #navbar-menu .navbar-links {
  transform: scaleY(100%);
}

/* Media Query for larger devices */
@media screen and (min-width: 700px) {

  /* Hide the menu toggle button */
  #navbar-toggle{
    display: none;
  }

  /* Set the menu to it's normal display type and position */
  #navbar-menu{
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
    width: auto;
  }

  /* Set the menu list element to it's normal position, using flexbox to horizontally layout the link items */
  .navbar-links {
    margin: 0;
    padding: 0;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transform: scaleY(100%);
    transition: none;
  }
}

/* ---- END of Navigation CSS ---- */

/* ---- CREATE FORM CSS ---- */

/* styling for the create form section */
#createSection {
  background-image: url(./images/createForm2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* positioning of the create form call to action heading */
#formTitle {
  padding: 20;
  position: relative;
  left: 260px;
}

/* styling and positioning of user inputs */
#createForm {
  position:relative;
  left: -250;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em 1em;
  color: white;
}

/* layout of the user input boxes */
.form-row {
  display: flex;
  padding: .5em;
}
  
/* the gap between the label and user input boxes */
.form-row > label {
  width: 100px;
}

/* style and layout of the user input boxes */                
.form-row > input {
  padding: .5em;
  flex-grow: 1;
  border-radius: 10px;
  border-style: none;
}

/*the styling of the movie cards*/
.form-img {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 12em 1em;
  color: black;
}

/*positioning of the photo upload button */
.photo-upload {
  display: flex;
  position: relative;
  margin: 10 auto;
  right: -500;
  top: -360;
}

/*positioning of the photo when uploaded */
#the-picture {
  display: flex;
  position: relative;
  margin: 10 auto;
  right: -600;
  top: -350;
}

/* colour of the clear and add to library buttons */
#formButtons {
  background-color: #a300b6;
  color: white;
  margin-left: 40;
}

/* colour of the clear and add buttons when user hovers over them */
#formButtons:hover {
  background-color: blue;
  color: white;
}

/*rounding the corners of the drop down select and upload file boxes */
#myImage, #movieGenre, #movieRating {
  border-radius: 8;
}

/* Library Section CSS */

/*positioning of the library heading*/
#libraryTitle {
  padding: 50px;
  position: relative;
  left: 20px;
}

/*positioning of the movielist*/
#movielist {
  justify-content: center;
  padding-left: 65;
}

/*positioning and styling of the movie cards*/
#movielist li {
  display: inline-block;
  height: 100%;
  align-items: center;
  padding: 15;
  padding-top: 190;
  color: black;
  font-size: 14;
  border: #a300b6 solid 3;
  background-color: white;
  border-radius: 25;
  width: 260;
  height: 400;
  margin-right: 30;
  margin-bottom: 100;
}

/*animating the cards to go up with blue border when hovered*/
#movielist li:hover {
  display: inline-block;
  height: 100%;
  align-items: center;
  padding: 15;
  padding-top: 190;
  color: black;
  font-size: 14;
  border: blue solid 6;
  background-color: white;
  border-radius: 25;
  width: 260;
  height: 400;
  margin-right: 30;
  margin-bottom: 100;
  transform: translateY(-30);
}

/*delete button to delete the data*/
Button {
  background-color: #a300b6;
  border-radius: 10;
  border-color: #a300b6;
  padding: 10;
  padding-top: 10;
  width: 30%;
  height: 15%;
  color: white;
  text-align:justify;
}

/*change delete button to read when user hovers over it*/
Button:hover {
  background-color:red;
  border:red;
}


/*----Responsive----*/

  /* Media Query for larger devices */
  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30%;
    }
  }
  /* Media Query for smaller devices */
  @media(max-width: 500px) {
    .footer-col {
      width: 100%;
    }
  
    .table, .table tr, .table td {
      display: block;
      width: 100%;
    }
  }

  